{% extends "base.html" %}
{% block content %}

   <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
   <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


   <script type="text/javascript" src="/admin/jsi18n/"></script>
   <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
   <script type="text/javascript" src="/static/admin/js/core.js"></script>
   <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
   <script type="text/javascript" src="/static/admin/js/actions.js"></script>
   <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
   <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
   <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/manage/project_manage/">测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ user }}</a></li>
            <li><a href="/logout/">退出</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div id="content" class="colM">

    <h1>编辑项目</h1>
    <div id="content-main" class="container">



    <form action="{% url 'edit_project_action' project_id %}" method="post" id="projectmanage_form" novalidate>
        <input type="hidden" name="csrfmiddlewaretoken" value="">
    <div>
       <div class="form-row field-title">
            <div>
                <label class="required" >名称：</label>
                <textarea name="title" type="text" style="font-size:18px;width:800px; height:30px;" >{{ edit_title }}</textarea>
            </div>
       </div>
       <div class="form-row field-description">
            <div>
               <label class="required" >描述：</label>
                <textarea name="description" style="font-size:18px;width:800px; height:100px;"type="text" >{{ edit_description }}</textarea>
            </div>
       </div>
        <div class="form-row field-status">
            <div class="checkbox-row">
                <input type="checkbox" name="status" id="id_status"><label class="vCheckboxLabel" for="id_status">Status</label>
            </div>

        </div>

            <font size="3" color="red">{{error}}</font><br><br>

        {% csrf_token %}
    <input type="submit" value="提交" class="navbar-form navbar-left" name="_save" >
    </div>
    </form>
    </div>
    </div>

{% endblock %}

