{% extends "base.html" %}
{% block content %}



    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ user }}</a></li>
            <li><a href="/logout/">退出</a></li>
          </ul>
            
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li> <a href="/manage/project_manage/">
                <span class="glyphicon glyphicon-th-large"></span> 项目管理</a></li>
            <li class="active"><a href="#">
                <span class="glyphicon glyphicon-th"></span> 模块管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/interface/case_manage/">
                <span class="glyphicon glyphicon-th-list"></span> 用例管理</a></li>
            <li><a href="/interface/task_manage/">
                <span class="glyphicon glyphicon-tasks"></span> 任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">
                <span class="glyphicon glyphicon-log-in"></span> MockServer</a></li>
            <li><a href="">
                <span class="glyphicon glyphicon-wrench"></span> 测试工具</a></li>
          </ul>
        </div>

        {% if type == 'list'%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <div>
            <h3 class="sub-header">模块列表
                <button type="button" class="btn btn-primary" style="float: right;margin-right: 105px;"
                onclick="window.location.href='/manage/add_module/'">添加模块</button>
            </h3>
         </div>




          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>名称</th>
                  <th>描述</th>
                  <th>项目</th>
                  <th>创建时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for module in modules %}
                  <tr>
                    <td>{{ module.id }}</td>
                    <td>{{ module.title }}</td>
                    <td>{{ module.description }}</td>
                    <td>{{ module.project }}</td>
                    <td>{{ module.create_time | date:"Y-m-d H:i:s" }}</td>
                    <td>
                      <a href="/manage/edit_module/{{module.id}}/">编辑</a>&ensp;
                      <a href="/manage/delete_module/{{module.id}}/">删除</a>
                    </td>
                  </tr>

                {% endfor %}
              </tbody>

            </table>
            <!-- 列表分页器 -->
               <div class="pagination">
                  <span class="step-links">
                    <ul class="pagination">
                      {% if modules.has_previous %}
                        <li><a href="?search={{ search }}&page={{ modules.previous_page_number }}">&laquo;</a></li>
                      {% endif %}

                       <li><a href="#">{{ modules.number }}</a></li>

                      {% if modules.has_next %}
                        {% if search %}
                           <li><a href="?search={{ search }}&page={{ modules.next_page_number }}">&raquo;</a></li>
                        {% else %}
                           <li><a href="?page={{ modules.next_page_number }}">&raquo;</a></li>
                        {% endif %}
                      {% endif %}
                      <li><a href="#">共：{{ modules.paginator.num_pages }} 页</a></li>
                    </ul>

                      <!-- 尝试另一种分页样式
                       <nav aria-label="Page navigation">
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                       </nav>
                       -->

                  </span>
               </div>
          </div>
        </div>
      {% endif %}


      {% if type == 'add' %}
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <div>
          <h1 class="sub-header">创建模块
              <button class="btn btn-primary"
                      onclick="window.location.href='/manage/module_manage/'"
                         style="margin-left: 180px;">取消
              </button>
          </h1>
          <form action="/manage/add_module/" method="post">
              {% csrf_token %}
              {{form.as_p}}
          <button type="submit" class="btn btn-primary" style="margin-top: 8px;">确定</button>
          </form>
         </div>
      </div>
      {% endif %}
    </div>

      {% if type == 'edit' %}
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header">编辑模块
                    <button class="btn btn-primary"
                            onclick="window.location.href='/manage/module_manage/'"
                            style="margin-left: 180px;">取消
                    </button>
                </h3>

                <div class="table-responsive">
                    <form role="form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary" style="margin-top: 8px;">确定</button>
                    </form>
                </div>
       </div>
      {% endif %}

    </div>

{% endblock %}




    <!--
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
      </ul>
    </nav>
    -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line!
    <script src="https://v3.bootcss.com/assets/js/vendor/holder.min.js"></script>
    -->

