{% extends "base.html" %}
{% block content %}



    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="user">{{ user }}</a></li>
            <li><a href="/logout/">退出</a></li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li> <a href="/manage/project_manage/">
                <span class="glyphicon glyphicon-th-large"></span> 项目管理</a></li>
            <li><a href="/manage/module_manage/">
                 <span class="glyphicon glyphicon-th"></span> 模块管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/interface/case_manage/">
                 <span class="glyphicon glyphicon-th-list"></span> 用例管理</a></li>
            <li class="active"><a href="#">
                 <span class="glyphicon glyphicon-tasks"></span> 任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">
                <span class="glyphicon glyphicon-log-in"></span> MockServer</a></li>
            <li><a href="">
                <span class="glyphicon glyphicon-wrench"></span> 测试工具</a></li>
          </ul>
        </div>

        {% if type == 'list'%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div>
          <h3 class="sub-header">任务列表
                <button type="button" class="btn btn-primary" style="float: right;margin-right: 100px;"
                onclick="window.location.href='/interface/add_task/'">创建任务</button>
          </h3>
                <form class="navbar-form" method="get" action="/interface/search_task_name/" style="padding-left: 0px;">

                    <div class="form-group">
                        <input name="task_name" type="text" placeholder="任务名称" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">搜索</button>
                </form>
         </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>名称</th>
                  <th>描述</th>
                  <th>状态</th>
                  <th>创建时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for task in tasks %}
                  <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.describe }}</td>

                    {% if task.status == 0 %}
                      <td>未执行</td>
                    {% endif %}

                    {% if task.status == 1 %}
                      <td>执行中</td>
                    {% endif %}

                    {% if task.status == 2 %}
                      <td>已执行</td>
                    {% endif %}
                    <td>{{ task.create_time | date:"Y-m-d H:i:s" }}</td>
                    <td>
                      <a href="/interface/run_task/{{task.id}}/">
                          <span class="glyphicon glyphicon-play"></span>
                      </a>&ensp;
                      <a href="/interface/delete_task/{{task.id}}/">
                          <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </td>
                  </tr>

                {% endfor %}
              </tbody>

            </table>
            <!-- 列表分页器 -->
               <div class="pagination">
                  <span class="step-links">
                    <ul class="pagination">
                      {% if tasks.has_previous %}
                        <li><a href="?search={{ search }}&page={{ tasks.previous_page_number }}">&laquo;</a></li>
                      {% endif %}

                       <li><a href="#">{{ tasks.number }}</a></li>

                      {% if tasks.has_next %}
                        {% if search %}
                           <li><a href="?search={{ search }}&page={{ tasks.next_page_number }}">&raquo;</a></li>
                        {% else %}
                           <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
                        {% endif %}
                      {% endif %}
                      <li><a href="#">共：{{ tasks.paginator.num_pages }} 页</a></li>
                    </ul>

                      <!-- 尝试另一种分页样式
                       <nav aria-label="Page navigation">
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                       </nav>
                       -->

                  </span>
               </div>
          </div>
        </div>
      {% endif %}

      <!-- 添加任务页面 -->
      {% if type == 'add' %}
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row">
              {% block add_task%}
                <!-- add_task.html -->
              {% endblock %}
          </div>
      </div>
      {% endif %}

    </div>
   </div>
  </div>
{% endblock %}